.PIAIC-LMS-second {
  background-color: #000012;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.PIAIC-LMS-second .div {
  background-color: #000012;
  border: 1px none;
  height: 3836px;
  overflow-x: hidden;
  position: relative;
  width: 1955px;
}

.PIAIC-LMS-second .overlap {
  height: 1467px;
  left: -62px;
  position: absolute;
  top: -135px;
  width: 2201px;
}

.PIAIC-LMS-second .overlap-group {
  height: 1467px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2201px;
}

.PIAIC-LMS-second .ellipse {
  background-color: #2c253eb2;
  border-radius: 327px/317.5px;
  filter: blur(160px);
  height: 635px;
  left: 0;
  position: absolute;
  top: 0;
  width: 654px;
}

.PIAIC-LMS-second .rectangle {
  height: 320px;
  left: 457px;
  object-fit: cover;
  position: absolute;
  top: 317px;
  width: 1119px;
}

.PIAIC-LMS-second .ellipse-2 {
  background-color: #2c253eb2;
  border-radius: 327px/317.5px;
  filter: blur(160px);
  height: 635px;
  left: 1547px;
  position: absolute;
  top: 474px;
  width: 654px;
}

.PIAIC-LMS-second .navbar {
  height: 105px;
  left: 122px;
  position: absolute;
  top: 135px;
  width: 1786px;
}

.PIAIC-LMS-second .frame {
  height: 105px;
  left: 1379px;
  position: absolute;
  top: 0;
  width: 105px;
}

.PIAIC-LMS-second .overlap-group-2 {
  height: 19px;
  left: 26px;
  position: relative;
  top: 49px;
  width: 79px;
}

.PIAIC-LMS-second .text-wrapper {
  color: #fffafa;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 79px;
}

.PIAIC-LMS-second .span {
  align-items: flex-start;
  display: flex;
  left: 63px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  width: fit-content;
}

.PIAIC-LMS-second .image {
  height: 10.66px;
  min-width: 15.99px;
  position: relative;
}

.PIAIC-LMS-second .img {
  height: 11px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.PIAIC-LMS-second .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1509px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
  white-space: nowrap;
}

.PIAIC-LMS-second .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1715px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
  white-space: nowrap;
}

.PIAIC-LMS-second .image-wrapper {
  align-items: flex-start;
  display: flex;
  left: 1766px;
  position: absolute;
  top: 55px;
  width: fit-content;
}

.PIAIC-LMS-second .div-wrapper {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: 49px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 26px;
  width: 133px;
}

.PIAIC-LMS-second .text-wrapper-4 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 21px;
  font-weight: 800;
  height: 26px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 112px;
}

.PIAIC-LMS-second .image-2 {
  height: 11px;
  left: 1876px;
  position: absolute;
  top: 189px;
  width: 16px;
}

.PIAIC-LMS-second .EDUMATE-ALL-COURSES {
  height: 47px;
  left: 607px;
  position: absolute;
  top: 455px;
  width: 823px;
}

.PIAIC-LMS-second .rectangle-2 {
  background-color: #171c2b;
  border-radius: 35px;
  height: 51px;
  left: 722px;
  position: absolute;
  top: 614px;
  width: 589px;
}

.PIAIC-LMS-second .text-wrapper-5 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 779px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 628px;
}

.PIAIC-LMS-second .search {
  height: 27px;
  left: 740px;
  position: absolute;
  top: 626px;
  width: 27px;
}

.PIAIC-LMS-second .rectangle-3 {
  background-color: #232430;
  border-radius: 69px;
  height: 521px;
  left: 1190px;
  position: absolute;
  top: 946px;
  width: 447px;
}

.PIAIC-LMS-second .overlap-2 {
  background: linear-gradient(180deg, rgb(32, 157, 245) 0%, rgb(103, 81, 183) 100%);
  border-radius: 21px;
  height: 31px;
  left: 779px;
  position: absolute;
  top: 705px;
  width: 56px;
}

.PIAIC-LMS-second .text-wrapper-6 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
}

.PIAIC-LMS-second .text-wrapper-7 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 857px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 709px;
}

.PIAIC-LMS-second .text-wrapper-8 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 948px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 709px;
}

.PIAIC-LMS-second .text-wrapper-9 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 1071px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 709px;
}

.PIAIC-LMS-second .text-wrapper-10 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 1190px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 709px;
}

.PIAIC-LMS-second .text-wrapper-11 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 48px;
  font-weight: 600;
  left: 452px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 819px;
}

.PIAIC-LMS-second .rectangle-4 {
  background-color: #232430;
  border-radius: 69px;
  height: 521px;
  left: 462px;
  position: absolute;
  top: 946px;
  width: 447px;
}

.PIAIC-LMS-second .overlap-3 {
  height: 635px;
  left: -202px;
  position: absolute;
  top: 2333px;
  width: 1740px;
}

.PIAIC-LMS-second .overlap-4 {
  height: 635px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1740px;
}

.PIAIC-LMS-second .p {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 22px;
  left: 548px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 286px;
  white-space: nowrap;
}

.PIAIC-LMS-second .text-wrapper-12 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 22px;
  left: 548px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 433px;
  white-space: nowrap;
}

.PIAIC-LMS-second .text-wrapper-13 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 22px;
  left: 550px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 574px;
  white-space: nowrap;
}

.PIAIC-LMS-second .line {
  height: 8px;
  left: 548px;
  position: absolute;
  top: 368px;
  width: 1185px;
}

.PIAIC-LMS-second .line-2 {
  height: 8px;
  left: 555px;
  position: absolute;
  top: 512px;
  width: 1185px;
}

.PIAIC-LMS-second .h-1 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 64px;
  font-weight: 700;
  height: 205px;
  left: 659px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 954px;
}

.PIAIC-LMS-second .overlap-5 {
  height: 22px;
  left: 1670px;
  position: absolute;
  top: 293px;
  width: 20px;
}

.PIAIC-LMS-second .text-wrapper-14 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 34px;
  font-weight: 400;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.PIAIC-LMS-second .text-wrapper-15 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 34px;
  font-weight: 400;
  height: 22px;
  left: 1673px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 432px;
  white-space: nowrap;
}

.PIAIC-LMS-second .text-wrapper-16 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 34px;
  font-weight: 400;
  height: 22px;
  left: 1671px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 575px;
  white-space: nowrap;
}

.PIAIC-LMS-second .overlap-6 {
  height: 635px;
  left: 13px;
  position: absolute;
  top: 3084px;
  width: 2115px;
}

.PIAIC-LMS-second .ellipse-3 {
  background-color: #2c253eb2;
  border-radius: 327px/317.5px;
  filter: blur(160px);
  height: 635px;
  left: 1461px;
  position: absolute;
  top: 0;
  width: 654px;
}

.PIAIC-LMS-second .div-flex {
  height: 317px;
  left: 562px;
  position: absolute;
  top: 278px;
  width: 1338px;
}

.PIAIC-LMS-second .div-w-full {
  height: 154px;
  left: 645px;
  position: relative;
  top: 16px;
  width: 693px;
}

.PIAIC-LMS-second .heading-get-the {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.PIAIC-LMS-second .p-font-poppins {
  align-items: flex-start;
  display: flex;
  left: 0;
  padding: 0px 22.02px 0px 0px;
  position: absolute;
  top: 38px;
  width: fit-content;
}

.PIAIC-LMS-second .this-roadmap-will {
  color: #a3b3bc;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.PIAIC-LMS-second .div-mt {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  left: 0;
  padding: 0px 2.29e-5px 0px 0px;
  position: absolute;
  top: 106px;
  width: fit-content;
}

.PIAIC-LMS-second .input-input {
  align-items: flex-start;
  background-color: #212933;
  border-radius: 9999px;
  display: flex;
  flex: 1;
  padding: 11px 20px 12px;
  position: relative;
}

.PIAIC-LMS-second .div-placeholder {
  align-items: flex-start;
  display: flex;
  padding: 1px 126px 0px 0px;
  position: relative;
  width: fit-content;
}

.PIAIC-LMS-second .text-wrapper-17 {
  color: #9ca3af;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.PIAIC-LMS-second .div-flex-button {
  align-items: flex-start;
  background-color: #2190ff;
  border-radius: 9999px;
  display: flex;
  padding: 16px 24.02px 16px 23px;
  position: relative;
  width: fit-content;
}

.PIAIC-LMS-second .button-subscribe {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.PIAIC-LMS-second .div-flex-2 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  left: 25px;
  padding: 16px 15.98px 16px 16px;
  position: absolute;
  top: 278px;
  width: 645px;
}

.PIAIC-LMS-second .div-flex-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0px 99px 0px 0px;
  position: relative;
  width: fit-content;
}

.PIAIC-LMS-second .text-wrapper-18 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.PIAIC-LMS-second .div-mt-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 0px 16px;
  position: relative;
  width: fit-content;
}

.PIAIC-LMS-second .text-wrapper-19 {
  color: #d0dfff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.PIAIC-LMS-second .text-wrapper-20 {
  color: #d0dfff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.PIAIC-LMS-second .div-flex-4 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
  padding: 0px 62px 0px 0px;
  position: relative;
}

.PIAIC-LMS-second .div-flex-5 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
  padding: 0px 51px 0px 0px;
  position: relative;
}

.PIAIC-LMS-second .line-3 {
  height: 8px;
  left: 340px;
  position: absolute;
  top: 32px;
  width: 1185px;
}

.PIAIC-LMS-second .line-4 {
  height: 11px;
  left: 0;
  position: absolute;
  top: 230px;
  width: 1931px;
}

.PIAIC-LMS-second .line-5 {
  height: 11px;
  left: 6px;
  position: absolute;
  top: 596px;
  width: 1936px;
}

.PIAIC-LMS-second .text-wrapper-21 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 22px;
  left: 346px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 3025px;
  white-space: nowrap;
}

.PIAIC-LMS-second .text-wrapper-22 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 34px;
  font-weight: 400;
  height: 22px;
  left: 1471px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 3037px;
  white-space: nowrap;
}

.PIAIC-LMS-second .line-6 {
  height: 8px;
  left: 353px;
  position: absolute;
  top: 2986px;
  width: 1185px;
}

.PIAIC-LMS-second .text-wrapper-23 {
  color: #a3b3bc;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 1178px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 3735px;
  white-space: nowrap;
}

.PIAIC-LMS-second .discord-footer {
  height: 14px;
  left: 268px;
  position: absolute;
  top: 3733px;
  width: 18px;
}

.PIAIC-LMS-second .twitter-footer {
  height: 16px;
  left: 297px;
  position: absolute;
  top: 3732px;
  width: 19px;
}

.PIAIC-LMS-second .youtube-footer {
  height: 16px;
  left: 327px;
  position: absolute;
  top: 3732px;
  width: 21px;
}

.PIAIC-LMS-second .instagram-footer {
  height: 20px;
  left: 359px;
  position: absolute;
  top: 3730px;
  width: 19px;
}

.PIAIC-LMS-second .linkedin-footer {
  height: 18px;
  left: 389px;
  position: absolute;
  top: 3729px;
  width: 19px;
}

.PIAIC-LMS-second .github-footer {
  height: 17px;
  left: 419px;
  position: absolute;
  top: 3733px;
  width: 18px;
}

.PIAIC-LMS-second .complete-path-to {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 421px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1346px;
}

.PIAIC-LMS-second .complete-path-to-2 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 1149px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1345px;
}

.PIAIC-LMS-second .the-course-covers {
  color: #c0c2c9;
  font-family: "Montserrat", Helvetica;
  font-size: 21px;
  font-weight: 500;
  left: 424px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1461px;
}

.PIAIC-LMS-second .the-course-covers-2 {
  color: #c0c2c9;
  font-family: "Montserrat", Helvetica;
  font-size: 21px;
  font-weight: 500;
  left: 1149px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1461px;
}

.PIAIC-LMS-second .overlap-7 {
  background-color: #009fe3;
  border-radius: 69px;
  height: 49px;
  left: 421px;
  position: absolute;
  top: 1630px;
  width: 158px;
}

.PIAIC-LMS-second .text-wrapper-24 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
}

.PIAIC-LMS-second .overlap-8 {
  background-color: #009fe3;
  border-radius: 69px;
  height: 49px;
  left: 1149px;
  position: absolute;
  top: 1630px;
  width: 158px;
}

.PIAIC-LMS-second .text-wrapper-25 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
}

.PIAIC-LMS-second .overlap-9 {
  background-color: #009fe3;
  border-radius: 69px;
  height: 49px;
  left: 662px;
  position: absolute;
  top: 1630px;
  width: 158px;
}

.PIAIC-LMS-second .text-wrapper-26 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
}

.PIAIC-LMS-second .overlap-10 {
  background-color: #009fe3;
  border-radius: 69px;
  height: 49px;
  left: 1377px;
  position: absolute;
  top: 1630px;
  width: 158px;
}
